.Auth {
    margin: 20px auto;
    width: 400px;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    box-sizing: border-box;
}
.Input {
    display: block;
    margin-left: 40%;
}

@media (mid-width: 600px){
    .Auth{
        width: 500px;
    }
}